.button {
	padding: 10px;
	background-color: darkgoldenrod;
	text-decoration: none;
	color: white;
}

table{
	margin:20px 0;
}

tr .button{
	padding: 5px;
}

td, th{
	padding: 20px;
	text-align: center;
}

.success{
	color:green;
}

.fail{
	color:darkgoldenrod;
}